@import './@mixins.scss';

.card {
  align-items: center;
  display: flex;

  @include mobile {
    flex-direction: column;
    text-align: center;
  }

  &__icon, &__column {
    margin: 1rem;
  }

  &__icon {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
  }

  &__title, &__description {
    margin: 1rem 0;
  }
}