@import './@mixins.scss';

.header {
  background: var(--primary-blue);

  &__logo {
    max-width: 100%;
  }

  &__logo, &__title, &__description {
    margin: 1rem 0;
  }
  
  &__title, &__description {
    color: var(--white-text);
    text-align: center;
  }

  @include desktop {
    .section-column {
      display: block;
    }
  }
}