@import './@mixins';

.section {
  @include mobile {
    padding: 1rem;
  }
  
  @include tablet {
    padding: 1rem;
  }
  
  @include desktop {
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
  }
}