:root {
  --white-text: #fff;
  --dark-text: #333;
  --green-button: #2CCF1E;
  --green-button-hover: #3aaa30;
  --green-button-text-hover: #f8d9ab;
  --primary-blue: #3E4095;
  --form-color: #6198D8;
}